# This list auto-requests reviews from the specified users
# when a PR that modifies the file in question is opened
# See GitHub documentation for more details.
# This list is alphabetized by User -> Filename -- KEEP IT THAT WAY
# In the event that multiple members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Flourish
/code/obj/item/toys.dm @flrsh
/maps/manta.dmm @flrsh
/maps/oshan.dmm @flrsh

# Kyle
/code/WorkInProgress/JobXpRewards.dm @Kyle2143
/code/obj/item/organs/ @Kyle2143
/code/obj/item/organ_holder.dm @Kyle2143
/code/modules/events/gimmick/kudzu.dm @Kyle2143
/code/datums/abilities/kudzumen.dm @Kyle2143
/code/datums/gamemodes/gangwar.dm @Kyle2143
/code/procs/jobprocs.dm @Kyle2143

# Mordent (mordent-goonstation)
/code/modules/robotics/ @mordent-goonstation

# Tarmunora
/code/modules/projectiles/projectile_parent.dm @Tarmunora

# ZeWaka
*.md @ZeWaka
/.github/ @ZeWaka
/tools/ @ZeWaka

# Multiple Owners
/tgui/ @mordent-goonstation @ZeWaka
