# gitattributes
* text=auto

# BYOND code and other detritus
*.dm	text eol=lf
*.dme	text eol=lf
*.dms	text
*.dmf	text
*.dmm	text eol=lf

# BYOND Images & bytecode
*.dmi	binary
*.dmb	binary

# Merge hooks, run tools/hooks/install.bat or install.sh to set up
*.dmm	merge=dmm
*.dmi	merge=dmi

## TGUI bundle merge drivers
*.bundle.*	binary merge=tgui-merge-bundle
*.chunk.*	binary merge=tgui-merge-bundle

# Other text stuff
*.txt	text
*.md	text
*.html	text
*.css	text
*.scss	text
*.js	text
*.cjs	text
*.json	text
*.ini	text
*.conf	text
*.ps1	text
*.sh	text eol=lf
*.bat	text
*.rb	text
*.py	text
*.lua	text
*.cpp	text
*.h		text
*.ps1	text

# Other binary stuff
*.png	binary
*.jpg	binary
*.jpeg	binary
*.gif	binary
*.ico	binary
*.mp3	binary
*.ogg	binary
*.gz	binary
*.zip	binary
*.7z	binary
*.ttf	binary
*.eot	binary
*.woff	binary
*.svg	binary
*.pdn	binary

## Force tab indents on dm files
*.dm	whitespace=indent-with-non-tab

# Not everything actually needs to be here but it doesn't break stuff to
# make git recognize that yes, some of these dumb byond things really are text
# ...or binary
# plus the browserassets maps weren't treated that way so oops(?)
# By Zamujasa & /tg/station
