# gitattributes
* text=auto

# BYOND code and other detritus
*.dm	text eol=lf
*.dme	text eol=lf
*.dms	text
*.dmf	text
*.dmm	text eol=lf

# BYOND Images & bytecode
*.dmi	binary
*.dmb	binary

# Merge hooks, run tools/hooks/install.bat or install.sh to set up
*.dmm	merge=dmm
*.dmi	merge=dmi

## TGUI bundle merge drivers
*.bundle.*	binary merge=tgui-merge-bundle
*.chunk.*	binary merge=tgui-merge-bundle

# Other text stuff
*.txt	text eol=lf
*.md	text eol=lf
*.html	text eol=lf
*.css	text eol=lf
*.scss	text eol=lf
*.js	text eol=lf
*.cjs	text eol=lf
*.json	text eol=lf
*.ini	text eol=lf
*.conf	text eol=lf
*.ps1	text eol=lf
*.sh	text eol=lf
*.bat	text eol=lf
*.rb	text eol=lf
*.py	text eol=lf
*.lua	text eol=lf
*.cpp	text eol=lf
*.h		text eol=lf
*.ps1	text eol=lf
*.svg	text eol=lf

# Other binary stuff
*.png	binary
*.jpg	binary
*.jpeg	binary
*.gif	binary
*.ico	binary
*.mp3	binary
*.ogg	binary
*.gz	binary
*.zip	binary
*.7z	binary
*.ttf	binary
*.eot	binary
*.woff	binary
*.pdn	binary

## Force tab indents on dm files
*.dm	whitespace=indent-with-non-tab

# Not everything actually needs to be here but it doesn't break stuff to
# make git recognize that yes, some of these dumb byond things really are text
# ...or binary
# plus the browserassets maps weren't treated that way so oops(?)
# By Zamujasa & /tg/station
