language: generic
os: linux
dist: xenial

git:
  submodules: false

jobs:
  include:
    - name: "Run Linters"
      addons:
        apt:
          packages:
            - rustc
            - cargo
      cache:
        directories:
          - $HOME/SpacemanDMM
      before_install: # Encrypted SSH Deploy Key for goonstation-secret
        - openssl aes-256-cbc -K $encrypted_5f214af470e0_key -iv $encrypted_5f214af470e0_iv -in tools/travis/deploykey-secret.txt.enc -out tools/travis/deploykey-secret.txt -d
        - eval $(ssh-agent -s)
        - ssh-add tools/travis/deploykey-secret.txt
        - git submodule update --init
      install:
        - tools/travis/install_spaceman_dmm.sh dreamchecker
      script:
        - ~/dreamchecker
    - name: "Compile"
      addons:
        apt:
          packages:
            - libstdc++6:i386
      cache:
        directories:
          - $HOME/BYOND
      before_install: # Encrypted SSH Deploy Key for goonstation-secret
        - openssl aes-256-cbc -K $encrypted_5f214af470e0_key -iv $encrypted_5f214af470e0_iv -in tools/travis/deploykey-secret.txt.enc -out tools/travis/deploykey-secret.txt -d
        - eval $(ssh-agent -s)
        - ssh-add tools/travis/deploykey-secret.txt
        - git submodule update --init
      install:
        - tools/travis/install_byond.sh
        - source $HOME/BYOND/byond/bin/byondsetup
      script:
        - tools/travis/dm.sh -DTRAVISBUILDING -DTRAVISTESTING -DALL_MAPS goonstation.dme
    - name: "Compile for Ass Jam"
      addons:
        apt:
          packages:
            - libstdc++6:i386
      cache:
        directories:
          - $HOME/BYOND
      before_install: # Encrypted SSH Deploy Key for goonstation-secret
        - openssl aes-256-cbc -K $encrypted_5f214af470e0_key -iv $encrypted_5f214af470e0_iv -in tools/travis/deploykey-secret.txt.enc -out tools/travis/deploykey-secret.txt -d
        - eval $(ssh-agent -s)
        - ssh-add tools/travis/deploykey-secret.txt
        - git submodule update --init
      install:
        - tools/travis/install_byond.sh
        - source $HOME/BYOND/byond/bin/byondsetup
        - sed -i 's/BUILD_TIME_DAY 01/BUILD_TIME_DAY 13/' _std/__build.dm # Ass Jam occurs on the 13th of the month.
      script:
        - tools/travis/dm.sh -DTRAVISBUILDING -DTRAVISTESTING -DALL_MAPS goonstation.dme
