.chemadd {

	width:160px;
	/*
	display:inline-block;
	color:#fff;
	font-size:12px;
	margin:1px;
	padding:4px 0 4px 5px;
	*/
}
.chemrem {
	display:inline-block;
	color:#fff;
	font-size:10px;
	font-weight: bold;
	margin:1px;
	padding:0 0 0 5px;
}
#groups {
	display:inline-block;
	color:#fff;
	/*font-size:10px;*/
	margin:1px;
	padding:4px 0 4px 5px;
}
.group {
	display:block;
	margin:0px 0px 2px 0px;
}
.info {
	display:inline-block;
}

.group-desc {
	margin-left:10px;
}

.reagent-name {
	width:150px;
}
.right {
	float:right;
}