/* line 20, ../sass/martian.scss */
html {
  height: 100%;
  overflow: hidden;
  margin: auto;
  vertical-align: middle;
}

/* line 27, ../sass/martian.scss */
body {
  height: 100%;
  background: #b4a0c8;
  color: white;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

/* line 36, ../sass/martian.scss */
a {
  color: inherit;
}

/* line 40, ../sass/martian.scss */
h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* line 46, ../sass/martian.scss */
h1 {
  font-size: 3em;
}

/* line 50, ../sass/martian.scss */
#screen {
  background: #503392;
  -moz-box-shadow: #cac5df 0 0 20px 5px, #2b1857 0 0 10px 5px inset;
  -webkit-box-shadow: #cac5df 0 0 20px 5px, #2b1857 0 0 10px 5px inset;
  box-shadow: #cac5df 0 0 20px 5px, #2b1857 0 0 10px 5px inset;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  width: 90%;
  height: 90%;
  vertical-align: middle;
  margin: 20px auto;
}

/* line 61, ../sass/martian.scss */
.menu {
  filter: url("#shadowed-goo");
}

/* line 67, ../sass/martian.scss */
.menu-item, .menu-open-button {
  background: #afcadb;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

/* line 82, ../sass/martian.scss */
.menu-open {
  display: none;
}

/* line 90, ../sass/martian.scss */
.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

/* line 106, ../sass/martian.scss */
.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}

/* line 110, ../sass/martian.scss */
.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

/* line 114, ../sass/martian.scss */
.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

/* line 119, ../sass/martian.scss */
.menu-open:checked + .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
/* line 122, ../sass/martian.scss */
.menu-open:checked + .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
/* line 125, ../sass/martian.scss */
.menu-open:checked + .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

/* line 130, ../sass/martian.scss */
.menu {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

/* line 147, ../sass/martian.scss */
.menu-item:hover {
  background: white;
  color: #afcadb;
}
/* line 152, ../sass/martian.scss */
.menu-item:nth-child(3) {
  transition-duration: 130ms;
}
/* line 152, ../sass/martian.scss */
.menu-item:nth-child(4) {
  transition-duration: 250ms;
}
/* line 152, ../sass/martian.scss */
.menu-item:nth-child(5) {
  transition-duration: 370ms;
}
/* line 152, ../sass/martian.scss */
.menu-item:nth-child(6) {
  transition-duration: 490ms;
}
/* line 152, ../sass/martian.scss */
.menu-item:nth-child(7) {
  transition-duration: 610ms;
}
/* line 152, ../sass/martian.scss */
.menu-item:nth-child(8) {
  transition-duration: 730ms;
}

/* line 158, ../sass/martian.scss */
.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

/* line 167, ../sass/martian.scss */
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

/* line 171, ../sass/martian.scss */
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

/* line 177, ../sass/martian.scss */
.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
/* line 182, ../sass/martian.scss */
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 240ms;
  transform: translate3d(129.35054px, 12.97834px, 0);
}
/* line 182, ../sass/martian.scss */
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 400ms;
  transform: translate3d(100.42728px, 82.54914px, 0);
}
/* line 182, ../sass/martian.scss */
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 560ms;
  transform: translate3d(37.77085px, 124.39197px, 0);
}
/* line 182, ../sass/martian.scss */
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 720ms;
  transform: translate3d(-37.57268px, 124.45197px, 0);
}
/* line 182, ../sass/martian.scss */
.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 880ms;
  transform: translate3d(-100.29568px, 82.70899px, 0);
}
/* line 182, ../sass/martian.scss */
.menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 1040ms;
  transform: translate3d(-129.32971px, 13.18434px, 0);
}

/* line 189, ../sass/martian.scss */
#svg {
  display: none;
  height: 0;
  width: 0;
}

/* LIST OF FURTHER IMPROVEMENTS */
/*
currently working on :
calculation draft for keyframes steps

$scan-moving-duration: 3s;
$scan-moving-delay: 7s;

total time = 10s (duration + delay)
keyframes :
    0%: wait
    15%: start moving
    85%: end moving & start waiting
    100% : wait

(the rest later)

*/
/* REGULAR SCANLINES SETTINGS */
/* MOVING SCANLINE SETTINGS */
/* MIXINS */
/* CSS .scanlines CLASS */
/* line 270, ../sass/martian.scss */
.scanlines {
  position: relative;
  overflow: hidden;
}
/* line 274, ../sass/martian.scss */
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute;
}
/* line 283, ../sass/martian.scss */
.scanlines:before {
  width: 100%;
  height: 6px;
  z-index: 2147483649;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.75;
  animation: scanline 8s linear infinite;
}
/* line 296, ../sass/martian.scss */
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 51%);
  background-size: 100% 12px;
  animation: scanlines 6s steps(360) infinite;
}

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
