.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.noMargin {
  margin: 0;
}
.none {
  display: none;
}

body {
  background-color: #292a33;
  font-family: Arial, Helvetica, sans-serif;
  color: linen;
}

.divMainTable {
  display: table;
  width: 100%;
}

.divMain {
  position: relative;
}

.cellButtons {
  position: relative;
  display: table-cell;
  vertical-align: top;
  min-width: 271px; /*Magic number that ... makes it look properly inside byond/IE/chui*/
}

#divButtons {
  display: block;
  position: absolute; /*Only way to get it to align properly on IE/byond for some reason*/
  top: 0;
  left: 0;
  height: 431px; /*Max size of canvas/image*/
  min-width: 252px; /*This number is this number because fuck if i know. It just looks right.*/
  border: 4px solid #111111;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: left;
}

.divFooter {
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-style: solid none solid none;
  border-width: 4px;
  border-color: #111111;
  margin: 4px 0 0 0;
}

#mapSource {
  max-width: 100%;
  max-height: 100%;
  display: block;
  visibility: hidden;
  border: 4px solid #111111;
}

#canvasOverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid #111111;
}

.telescopeButton {
  display: inline-block;
  position: relative;
  min-width: 175px;
  padding: 0 5px;
  margin: 5px 5px;
  line-height: 2.5em;
  background: transparent;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 2px solid #909da7;
  border-left: 2px solid #909da7;
  border-right: 2px solid #909da7;
  overflow: visible;
  cursor: pointer;
  box-sizing: border-box;
}

.telescopeButton:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.5em;
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid #0f0f0f;
  border-right: 2px solid #0f0f0f;
}

.telescopeButton:hover {
  background: #6b727d;
}

.telescopeButton:active {
  background: #868e9c;
}

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0f0f0f;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
  font-size: 12px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.discovered {
  color: #a3f8a3;
}

.undiscovered {
  color: #fff;
}

.underline {
  text-decoration: underline;
}
