@import './setup.scss';

// The board on where the pieces are placed

.boardgame__board {
  z-index: map-get($boardgame-layers, 'board');
  flex-grow: 1;
  &-pieces {
    z-index: map-get($boardgame-layers, 'pieces');
  }
  &-overlay {
    z-index: map-get($boardgame-layers, 'overlay');
  }
  &-inner {
    transition: 1s all;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  // Styles

  &-checkerboard {
    position: relative;
    width: 100%;
    height: 100%;
  }

  // Common styles for the board

  // Grid Guide renderer
  &-ggrenderer {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}
