@use 'sass:map';
@use './setup';

// The notation border around the board

.boardgame__notations {
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: map.get(setup.$boardgame-layers, 'notations');

  &-horizontal {
    height: setup.$notations-size;
    padding-left: setup.$notations-size;
    padding-right: setup.$notations-size;
  }
  &-vertical {
    width: setup.$notations-size;
    flex-direction: column;
  }
  &-number,
  &-letter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
