@import './setup.scss';

// The notation border around the board

.boardgame__notations {
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: map-get($boardgame-layers, 'notations');
  &-horizontal {
    height: $notations-size;
    padding-left: $notations-size;
    padding-right: $notations-size;
  }
  &-vertical {
    width: $notations-size;
    flex-direction: column;
  }
  &-number,
  &-letter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
