body {
	background-color: #344;
	font-family: Courier New;
	overflow-y: visible;
	overflow-x: visible;
}

button.btn, textarea {
	font-family: Courier New;
	border: 3px outset #9AA;
}

textarea {
	width: 85%;
}

label > span{
	color: #aaffbb;
	font-weight:bold;
	font-family: Courier New, Terminal, Arial, sans-serif;
}

label {
	display:inline;
	margin-left: 5px;
}

label:hover, input:hover, label > span:hover {
	cursor: default;
}

input, textarea{
	font-weight: bold;
	color: #12CC37 !important;
	background-color: #251616 !important;
}

input {
	width: 40px;
	border: 3px outset #9AA !important;
}

.btn-sl {
	width: 48%;
}

.btn-c {
	width: 15.4%;
}

.reservoir-button {
	width: 18.6%;
}

.abort-button {
	margin-left: 20px;
	width: 19.6%;
}
