* {
	overflow: hidden;
}

body {
	background: #5f3d2d;
}

canvas, .chesspieces {
	position: absolute;
	top: 0;
	left: 0;
}

#chessboard { /* for the canvas named chessboard */
	z-index: -1;
}

.chessboard { /* for the div named chessboard */
	position: relative;
	width: 480px;
	height: 480px;

	left: 50%;
	transform: translateX(-50%);

	text-align: center;
}

.piece {
	z-index: 1;
	position: absolute;
	left: 0;
}
