* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.column {
	float: left;
	width: 50%;
	border: 8px solid grey;
	border-color: #602814;
}

.scrollable {
	overflow: auto;
}

.row {
	height: 50%;
}

.items {
	height: 50%;
	border: 8px solid grey;
	border-color: #602814;
}
.categories, .two {
	height: 100%;
}
p {
	display: table-cell;
	position: relative;
	text-align: center;
	height: 100%;
	width: 20%;
	color: white;
	vertical-align: middle;
	font-size: 40px;
	padding-bottom: 10px;
	cursor: pointer;
}
.link {
	position: relative;
	display: table;
	width: 100%;
	height: 25%;
	min-height: 1em;
	text-align: center;
	cursor: pointer;
}
.link a {
	display: table-cell;
	vertical-align: middle;
	color: white;
	text-decoration: none;
	font-size: 40px;
	padding-bottom: 10px;
	cursor: pointer;
}
.itemcolor1{background: #8E0C1C;}
/*.itemcolor1:hover{background: #9EBCA6;}*/
.itemcolor2{background: #720A18;}
/*.itemcolor2:hover{background: #9EBCA6;}*/

.catcolor1{background: #8C7700;}
/*.catcolor1:hover{background: #89A3A2;}*/
.catcolor2{background: #705F00;}
/*.catcolor2:hover{background: #89A3A2;}*/

.creditcolor1{background: #4DA5A4;}
.creditcolor2{background: #357271;}

.categories {background: #89381C;}
.two {background: #89381C;}
.items {background: #89381C;}

#preview {
	width: 100%;
	height: 100%;
}
