#runtime-wrap {
	padding: 0 0 10px 0;
}

#runtime-wrap button {
	cursor: pointer;
}


#runtime-header {
	padding-bottom: 10px;
}

#runtime-header .stats {
	float: left;
	padding-top: 5px;
	font-size: 1.2em;
}

#runtime-header .refresh {
	float: right;
}


#runtime-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#runtime-list .loading {
	padding: 10px;
	font-size: 1.2em;
	text-align: center;
}

#runtime-list .runtime {
	padding: 3px 5px;
}

#runtime-list .runtime:hover {
	background-color: #58B4DC;
}

#runtime-list > .runtime:not(.runtime-invalid) {
	cursor: pointer;
}

#runtime-list .seen, #runtime-list .file, #runtime-list .line {
	font-weight: bold;
}

#runtime-list .desc {
	display: none;
	font-size: 0.8em;
}

#runtime-list .usr {
	display: none;
	font-size: 0.8em;
}


#runtime-details .control .back {
	margin: 0;
	padding: 0;
	background: none;
	border: 0;
	color: #fff;
	font-size: 2.5em;
}

#runtime-details .control .back:hover {
	color: #58B4DC;
}

#runtime-details .details table td {
	border-bottom: 1px dotted #ccc;
}

#runtime-details .details table td:first-child {
	width: 55px;
}
