.input-area {
	padding: 0 0 20px 0;
	text-align: center;
}

.input-area label {
	display: block;
	padding-bottom: 5px;
	font-size: 1.4em;
	font-weight: bold;
}

.input-area .input-wrap {
	position: relative;
}

.input-area input {
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 10px 0;
	padding: 15px 40px;
	border: 0;
	border-bottom: 2px solid #21272c;
	background: #21272c;
	color: #fff;
	font-size: 1.3em;
	text-align: center;

	transition: all 250ms;
}

.input-area input.error {
	border-bottom-color: red;
}

.input-area input.valid {
	border-bottom-color: #5AC032;
}

.input-area .randomise {
	position: absolute;
	z-index: 10;
	top: 8px;
	left: 10px;
	margin: 0;
	padding: 0;
	background: none;
	border: 0;
	cursor: pointer;
	color: #fff;
	font-size: 2em;
}

.input-area .button {
	margin-bottom: 15px;
}

.input-area .error-message {
	min-height: 1em;
	padding-bottom: 10px;
	color: red;
	font-size: 1.1em;
}

.input-area .tips {
	font-size: 0.85em;
}

.input-area .tips.admin-mode {
	font-size: 1em;
	color: red;
}


.whitelist {
	margin-bottom: 15px;
}

.whitelist h2 {
	margin-top: 0;
	text-align: center;
}