body {margin: 0; padding: 0;font-family: Verdana, sans-serif;font-size:12px; background: #fff;}
table {width: 100%;border-collapse: separate; border-spacing: 0; padding: 0;*border-collapse: expression('separate', cellSpacing = '0px');}

/* Traitor tips stuff included here due to the large amount of html files necessary for them */
.traitor-tips {font-family: Verdana, sans-serif;font-size:10pt;line-height:1.3; padding: 10px;}
.traitor-tips h1 {font-size: 200%;padding-bottom: 10px;color:#000}
.traitor-tips p {margin-bottom: 1em; position:relative}
.traitor-tips .small {font-size:80%}
.traitor-tips em {font-size:110%;color:red;font-weight:bold;font-style:normal}
.traitor-tips span.sub {font-size:80%}
.traitor-tips .indent {padding:5px 0 5px 25px;display:block;}
.traitor-tips img {display:block}
.traitor-tips img.right {position:absolute;top:5px;right:20px}
.traitor-tips .center {text-align:center;margin: 0 auto;}
.traitor-tips .image-right {padding-right: 50px;}

#createobj .selector_hs {    
    width: 400px; 
    overflow: auto;
}

.traitorTag {
	color: red;
	font-weight: bold;
}

.text-normal {
	font-weight: normal !important;
	font-style: normal !important;
}

.text-red {color: red;}

/* Clearfix */
.cf:before, .cf:after { content: " "; display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}

.progress-bar {
  position: relative;
  width: 100%;
  height: 25px;
  background: #4C5457;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #357FB0;
  border-right: 1px solid white;
}

.matcomptext{width: 100%;text-align: center;margin: 0;padding: 0;font-weight:normal;color:#000000;letter-spacing:0pt;word-spacing:1pt;font-size:12px;font-family:arial, helvetica, sans-serif;line-height:1;}

#manubody {background:url({{resource("images/bluebg.png")}}) top left no-repeat; background-attachment:fixed; width: 100%; height: 100%; text-align: center; margin:0; padding:15px; padding-right:0px;}
#manudiv {border:none 0px; width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden;}
div.manuborder{background-color: #0b5091; border:solid 3px #0053ED; border-radius: 15px; width:50%; padding: 3px; margin: 0 auto; font-family: "Arial", sans-serif; color: white; text-align: center; display: block;}
a.manulink {border:none 0px; font-family: "Arial", sans-serif; color: white; text-align: center; display: block;}
a.manulink:link {border:none 0px; font-family: "Arial", sans-serif; color: white; text-align: center; display: block;}
a.manulink:visited {border:none 0px; font-family: "Arial", sans-serif; color: white; text-align: center; display: block;}
a.manulink:hover {border:none 0px; font-family: "Arial", sans-serif; color: white; text-align: center; display: block;}
a.manulink:active {border:none 0px; font-family: "Arial", sans-serif; color: white; text-align: center; display: block;}

.tight { padding:0px;margin:0px;border:0px;overflow:hidden; }