body {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	background: #fff;
}
table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	padding: 0;
	*border-collapse: expression("separate", cellSpacing = "0px");
}

#createobj .selector_hs {
	width: 400px;
	overflow: auto;
}

.traitorTag {
	color: red;
	font-weight: bold;
}

.text-normal {
	font-weight: normal !important;
	font-style: normal !important;
}

.text-red {
	color: red;
}

/* Clearfix */
.cf:before,
.cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}

.progress-bar {
	position: relative;
	width: 100%;
	height: 25px;
	background: #4c5457;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.progress {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: #357fb0;
	border-right: 1px solid white;
}

.matcomptext {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0pt;
	word-spacing: 1pt;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	line-height: 1;
}

#manubody {
	background: url({{resource("images/bluebg.png")}}) top left no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	padding: 15px;
	padding-right: 0px;
}
#manudiv {
	border: none 0px;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
div.manuborder {
	background-color: #0b5091;
	border: solid 3px #0053ed;
	border-radius: 15px;
	width: 50%;
	padding: 3px;
	margin: 0 auto;
	font-family: "Arial", sans-serif;
	color: white;
	text-align: center;
	display: block;
}
a.manulink {
	border: none 0px;
	font-family: "Arial", sans-serif;
	color: white;
	text-align: center;
	display: block;
}
a.manulink:link {
	border: none 0px;
	font-family: "Arial", sans-serif;
	color: white;
	text-align: center;
	display: block;
}
a.manulink:visited {
	border: none 0px;
	font-family: "Arial", sans-serif;
	color: white;
	text-align: center;
	display: block;
}
a.manulink:hover {
	border: none 0px;
	font-family: "Arial", sans-serif;
	color: white;
	text-align: center;
	display: block;
}
a.manulink:active {
	border: none 0px;
	font-family: "Arial", sans-serif;
	color: white;
	text-align: center;
	display: block;
}

.tight {
	padding: 0px;
	margin: 0px;
	border: 0px;
	overflow: hidden;
}
