@use '../colors';
@use '../base';

.AccessPanel-wires-btn {
  &.Button--selected {
    background-color: colors.bg(var(--color-average)) !important;
  }
}

.Airlock-hack-button {
  font-family: monospace;
  border-width: base.em(2px);
  border-style: outset;
  border-color: #00aa00;
  outline: base.em(1px) solid rgb(0, 122, 0);
  &.Button--disabled {
    background-color: #4a6a4a;
  }
  &.Button--color--default {
    background-color: #00ff00;
  }
}
