@use '../base.scss';

.audiolog__ {

  &monospaced {
    font-family: monospace;
  }

  &outerwrapper {
    border-radius: 10px;
    margin: 10px;
    padding-top: 20px;
    background: rgb(15, 15, 15);
    background: linear-gradient(180deg, rgb(15, 15, 15) 0%, rgb(25, 25, 25) 100%);
    border-bottom: 5px solid rgb(8, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  &lcdscreen {
    width: 90%;
    border-radius: 10px;
    padding: 6px;
    background: rgb(55, 71, 45);
    border-top: 5px solid rgb(43, 54, 36);
    font-family: monospace;
    text-transform: uppercase;
  }

  &labelscreen {
    margin-bottom: 20px;
  }

  &button {

    &row {
      display: flex;
      justify-content: center;
      width: 90%;
      padding-top: 20px;
      margin-bottom: -5px;

      overflow-x: auto;
    }

    &element {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      user-select: none;
      -ms-user-select: none;

      height: 3em;
      z-index: 1;
      border-radius: 0 0 5px 5px;

      &-red {
        background: rgb(170, 29, 41);
        box-shadow: -1px 0 0 rgb(99, 13, 20) inset, 0 -5px rgb(99, 13, 20) inset,
          0 2px 12px rgb(99, 13, 20);

        &:active, &-active{
          background: rgb(107, 10, 10);
          box-shadow: -1px 0 0 rgb(59, 4, 4) inset, 0 -5px rgb(59, 4, 4) inset,
            0 2px 12px rgb(59, 4, 4);
        }
      }

      &-black {
        background: rgb(25, 25, 25);
        box-shadow: -1px 0 0 rgb(8, 8, 8) inset, 0 -5px rgb(8, 8, 8) inset,
          0 2px 12px rgb(8, 8, 8);

        &:active, &-active{
          background: rgb(15, 15, 15);
          box-shadow: -1px 0 0 rgb(4, 4, 4) inset, 0 -5px rgb(4, 4, 4) inset,
            0 2px 12px rgb(4, 4, 4);
        }
      }
    }

    &element > * {
      pointer-events: none
    }
  }
}
