@use 'sass:color';

@use '~tgui/styles/base.scss';

.Layout__content {
  background-image: none !important; // TODO: Make an 'admin' theme with goon logo bg
}


.CurrentBan {
  background-color: rgba(0, 255, 0, 0.2);
}

.ExpiredBan {
  background-color: rgba(255, 0, 0, 0.2);
  text-decoration: line-through;
}

.PermaBan {
  font-weight: bold;
}


.BanList {
  .BanListItem {
    padding: 0.1rem;
  }
}