/**
 * TODO: Migrate everthing into Boardgame/*
 */

@use '../base.scss';

.boardgame__board {
  flex-grow: 1;
}

.boardgame__board-inner {
  transition: 1s all;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.boardgame__pattern {
  transition: all 0;
}

.boardgame__patternflip {
  transform: rotate(180deg);
}

.boardgame__boardfliphnot {
  transform: rotateX(180deg);
}

.boardgame__horizontalnotations > div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.boardgame__preset {
  padding: 4px;
}

.boardgame__presetdetails {
  padding: 4px;
}

.boardgame__pattern {
  background: red;
  width: 100%;
  height: 100%;
}

.boardgame__piecesvg {
  fill: red;
}

.svgtest {
  transition: 1s all;
  fill: red;
  animation: bg_example 1s linear infinite;
}

@keyframes bg_exmaple {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
