/**
 * TODO: Migrate everthing into Boardgame/*
 */

@use '../base.scss';

.boardgame__window {
  display: flex;
  flex-direction: row;
  background-color: darken(rgb(131, 100, 74), 30%);
}

.boardgame__wrapper {
  flex: 1;
}

.boardgame__window * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.boardgame__modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.boardgame__modal-inner {
  height: auto;
  background-color: base.$color-bg;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  overflow-y: hidden;
}

.boardgame__modal-tab {
  text-align: center;
}

.boardgame__modal-tab:active {
  // Blue background on click
  background-color: rgba(0, 0, 255, 0.2);
}

.boardgame__modal-tabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

// Scroll if overflow limit to flew-grow: 1

.boardgame__modal-config {
  padding: 2px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 100%;
}

.boardgame__heldpiece {
  position: fixed;
  z-index: 10;
  pointer-events: none;
  margin-left: 10px;
  margin-top: 10px;
}

.boardgame__heldpiece-inner {
  width: 30px;
  height: 30px;
  & > img {
    width: 100%;
    height: auto;
  }
}

.boardgame__board {
  flex-grow: 1;
}

.boardgame__board-inner {
  transition: 1s all;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.boardgame__pattern {
  transition: all 0;
}

.boardgame__patternflip {
  transform: rotate(180deg);
}

.boardgame__boardfliphnot {
  transform: rotateX(180deg);
}

.boardgame__horizontalnotations > div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.boardgame__palette {
  display: flex;
  width: 30px;
  font-size: 18px;
  color: #f0efef;
  font-weight: bold;
}

.boardgame__palette:first-child {
  flex-direction: column;

  & > .boardgame__palette-label-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 30px;

    & > .boardgame__palette-label {
      margin-top: auto;
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      padding: 2px;
    }
  }
}

.boardgame__palette:last-child {
  flex-direction: column-reverse;

  & > .boardgame__palette-label-wrapper {
    flex-grow: 1;
    flex-direction: column;
    padding-bottom: 10px;

    & > .boardgame__palette-label {
      margin-top: 100%;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      padding: 2px;
    }
  }
}

.boardgame__palettepiece {
  display: block;
  height: 34px;
}

.boardgame__palettepiece > img {
  display: block;
  height: auto;
  max-width: 100%;
}

.boardgame__palettepiece > img:hover {
  cursor: pointer;
}

.boardgame__checker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.boardgame__checkertile {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.boardgame__checkertile:hover {
}

.boardgame__piece {
  transition: 0.1s all;
  padding: 5%;
}

.boardgame__piece_fencode {
  color: rgba(255, 255, 255, 1);
  text-align: center;

  // Draw a thick shadow around the text
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.boardgame__piece > span {
  display: none;
  text-align: center;
  position: absolute;
  margin-top: -20px;
}

.boardgame__piece > img {
  cursor: pointer;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.boardgame__tilenotation {
  display: flex;
  flex-direction: column;
  color: black;
  text-shadow: 0px 1px white;
  font-size: 8px;
}

.boardgame__tilenotationx {
  background-color: blue;

  flex-grow: 1;
  justify-content: center;
}

.boardgame__tilenotationy {
  background-color: red;
}
.boardgame_hexagontile {
  background: red;
  width: 40px;
  height: 40px;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.boardgame__preset {
  padding: 4px;
}

.boardgame__presetdetails {
  padding: 4px;
}

.boardgame__pattern {
  background: red;
  width: 100%;
  height: 100%;
}

.boardgame__piecesvg {
  fill: red;
}

.svgtest {
  transition: 1s all;
  fill: red;
  animation: bg_example 1s linear infinite;
}

@keyframes bg_exmaple {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
