@use '../base.scss';

.boardgame__window {
  display: flex;
  flex-direction: column;
}

.boardgame__wrapper {
  flex: 1;
}

.boardgame__window * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.boardgame__debug {
  position: fixed;
  top: 4px;
  right: 50px;
  padding: 2px;
  z-index: 20;
}

.boardgame__modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.boardgame__modal-inner {
  height: auto;
  max-height: 100%;
  transition: 0.5s all;
  background-color: base.$color-bg;
  padding: 10px;
  border-radius: 5px;
  overflow-y: hidden;
  height: 100%;
  padding-bottom: 15%;
}

.boardgame__modal-tab {
  text-align: center;
}

.boardgame__modal-tab:active {
  // Blue background on click
  background-color: rgba(0, 0, 255, 0.2);
}

.boardgame__modal-tabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

// Scroll if overflow limit to flew-grow: 1

.boardgame__modal-config {
  flex: 1;
  max-height: 100%;
  overflow-y: auto;
}

.boardgame__presets {
  flex-direction: column;
}

.boardgame__presets-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2px;
  background-color: rgb(0, 0, 0, 0.2);
}

.boardgame__preset-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  padding-bottom: 5px;
  transition: 0.5s;
  width: 90px;
  height: 90px;
  padding: 5px;
  background-color: rgb(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0);
  text-shadow: none;
}

.boardgame__preset-item:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.boardgame__preset-item:hover {
  z-index: 4;
}

.boardgame__preset-buttons {
  position: absolute;
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
  bottom: 0;
  left: 0;
  width: 80px;
  margin-left: 5px;
  justify-content: space-around;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
}

.boardgame__preset-buttons:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.boardgame__preset-button {
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  transition: 0.2s;
}

.boardgame__preset-button:hover {
  text-decoration: underline;
  color: white;
  // draw a thick black border around the text
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.boardgame__preset-board {
  position: relative;
  bottom: 0;
  transition: 0.2s;
  margin-top: 0px;
  z-index: 3;
  padding-top: 0;
}

.boardgame__preset-board:hover {
  padding-top: 20px;
  zoom: 1.5;
  z-index: 4;
  margin-right: 50px;
}

.boardgame__preset-details {
  position: fixed;
  padding: 15px;
  top: 10%;
  right: 15%;
  left: 15%;
  max-height: 75%;
  transition: 0.2s all;
  padding: 10px;
  z-index: 10;
  background-color: base.$color-bg;
  overflow-y: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.boardgame__preset-details-summary {
  padding: 10px;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
}

.boardgame__preset-details-board {
  width: 160px;
  height: 160px;
}

.boardgame__rules {
  padding: 6px;
  background-color: rgb(0, 0, 0, 0.2);
}

.boardgame__preset-details-board > svg {
  zoom: 2;

  // Make the svg look like a button
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px;
}

.boardgame__heldpiece {
  position: fixed;
  z-index: 10;
  pointer-events: none;
}

.boardgame__settings {
  display: flex;
  flex-direction: column;
  background-color: base.$color-bg;
}

.boardgame__settings-input {
  font-size: 12px;
  min-width: 150px;
  height: 60px;
}

.boardgame__panel {
  height: 30px;
}

.boardgame__board {
  flex-grow: 1;
}

.boardgame__board-inner {
  transition: 1s all;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.boardgame__pattern {
  transition: all 0;
}

.boardgame__patternflip {
  transform: rotate(180deg);
}

.boardgame__piece-set-toggle {
  width: 100%;
}

.boardgame__piece-set-wrapper {
  width: 100px;
  max-height: 100%;
  overflow-y: scroll;
}

.boardgame__menubutton {
}

.boardgame__piece-set-container {
  text-align: center;

  overflow-x: scroll;
  overflow-y: hidden;
}

.boardgame__piece-set-button {
  background-color: red;
}

.boardgame__piece-set-button > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.boardgame__piece-set {
  width: 100%;
  overflow-y: auto;
  background-color: #e0e0e0;
  flex-wrap: wrap;
}

.boardgame__piece-set-header {
  font-size: 10px;
  padding: 2px;
}

.boardgame__piece-set-vertical {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 20px;
}
.boardgame__piece-set-horizontal {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  height: 20px;

  overflow: hidden;
}
.boardgame__piece-set-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 4px;
  font-weight: bold;
}

.boardgame__piece-set__piece {
  transition: 0.3s all;

  font-size: 40px;
  width: 50%;
}

.boardgame__piece-set-minimized > .boardgame__piece-set__piece {
  width: 20%;

  font-size: 10px;
}

.boardgame__notations {
  font-weight: bold;
}

.boardgame__verticalnotations > div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 20px;
}

.boardgame__verticalnotations:last-child > div {
  transform: rotate(180deg);
}

.boardgame__horizontalnotations {
  transition: 1s all;
  transform: rotateX(0deg);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 20px;
}

.boardgame__boardfliphnot {
  transform: rotateX(180deg);
}

.boardgame__horizontalnotations > div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.boardgame__palette {
  display: flex;
  width: 30px;
  font-size: 18px;
  color: #f0efef;
  font-weight: bold;
}

.boardgame__palette:first-child {
  flex-direction: column;

  & > .boardgame__palette-label-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 30px;

    & > .boardgame__palette-label {
      margin-top: auto;
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      padding: 2px;
    }
  }
}

.boardgame__palette:last-child {
  flex-direction: column-reverse;

  & > .boardgame__palette-label-wrapper {
    flex-grow: 1;
    flex-direction: column;
    padding-bottom: 10px;

    & > .boardgame__palette-label {
      margin-top: 100%;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      padding: 2px;
    }
  }
}

.boardgame__palettepiece {
  display: block;
  height: 34px;
}

.boardgame__palettepiece > img {
  display: block;
  height: auto;
  max-width: 100%;
}

.boardgame__palettepiece > img:hover {
  cursor: pointer;
}

.boardgame__checker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.boardgame__checkertile {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.boardgame__checkertile:hover {
}

.boardgame__piece {
  transition: 0.1s all;
  padding: 5%;
}

.boardgame__piece_fencode {
  color: rgba(255, 255, 255, 1);
  text-align: center;

  // Draw a thick shadow around the text
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.boardgame__piece > span {
  display: none;
  text-align: center;
  position: absolute;
  margin-top: -20px;
}

.boardgame__piece > img {
  cursor: pointer;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.boardgame__tilenotation {
  display: flex;
  flex-direction: column;
  color: black;
  text-shadow: 0px 1px white;
  font-size: 8px;
}

.boardgame__tilenotationx {
  background-color: blue;

  flex-grow: 1;
  justify-content: center;
}

.boardgame__tilenotationy {
  background-color: red;
}
.boardgame_hexagontile {
  background: red;
  width: 40px;
  height: 40px;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.boardgame__preset {
  padding: 4px;
}

.boardgame__presetdetails {
  padding: 4px;
}

.boardgame__pattern {
  background: red;
  width: 100%;
  height: 100%;
}

.boardgame__piecesvg {
  fill: red;
}

.svgtest {
  transition: 1s all;
  fill: red;
  animation: bg_example 1s linear infinite;
}

@keyframes bg_exmaple {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
