@use '../colors.scss';
@use '../components/Button.scss';
@use '../base.scss';

.chem-dispenser {
  &__buttons {
    text-transform: capitalize;
  }

  &__labels {
    text-transform: capitalize;
  }

  &__dispense-buttons {
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
  }

  &-dispense:hover {
    overflow: visible;
  }
}
