@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

.clothingbooth {
  &__dropdown {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }

  &__boothitem {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &:hover,
    &--selected {
      background-color: colors.$good;
    }
  }

  &__boothitem > div {
    pointer-events: none;
  }

  &__boothitem:active {
    background-color: lighten(colors.$good, 30%);
  }

  &__preview {
    width: 64px;
    height: 128px;
  }

  &__swatch-box {
    &:hover {
      outline: 0.167rem solid colors.$good;
    }
  }

  // If any swatch foreground shapes need custom styling, this is where it lives.
  &__swatch-icon {
    &--rainbow {
      background-image: linear-gradient(
        45deg,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
      );
    }
  }

  &__groupingtag {
    border-radius: base.$border-radius;
  }
}
