@use '../base';

.gameclock__ {
  &window {
    display: flex;
    flex-direction: column;

    padding: 5px;
  }

  &help {
    position: fixed;
    top: 4px;
    right: 50px;
    padding: 2px;
    z-index: 20;
  }

  &helpbutton {
    height: 20px;
    width: 20px;

    & > i {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  &configmodal {
    z-index: 20;

    & > .Dimmer__inner {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 15px;
      width: 180px;
      height: 130px;
    }
  }

  &configmodalbuttoncontainer {
    padding-top: 12px;
  }

  &teamicon {
    text-align: center;
    font-size: 24px;
    margin: 5px;
  }

  &sidepart {
    flex-grow: 1;
    padding: 5px;
  }

  &timebutton {
    width: 100%;
    height: 100%;
    text-align: center;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  &timeflex {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2em;
  }

  &mid {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &utilbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-right: 2px;
    }
  }
}
