.gas-canister-detonator-utility__list-item {
  line-height: 1.7em;
}

.gas-canister-detonator-utility__attachment-item {
  text-transform: capitalize;
}

.port-atmos-pressure-bar__text {
  text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
}
