@use '../colors.scss';
@use '../components/Button.scss';
@use '../base.scss';

@keyframes fader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.WirePanel-silicon-disabled {
  animation: fader 2s linear 0 infinite;
}
