* text=auto

## Enforce text mode and LF line breaks
# |GOONSTATION-CHANGE| We just LF this entire directory, fuck it.
* text eol=lf

# |GOONSTATION-CHANGE| We do not care about .bundle or .chunk files here, as they get put outside of this directory
.yarn/releases/**/* binary
.yarn/plugins/**/*  binary
