## NPM garbage
node_modules
*.log
package-lock.json

## Yarn stuff
/.pnp.*
/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
!/.yarn/versions
!/.yarn/lock.yml

## Build artifacts |GOONSTATION-CHANGE|
/../browserassets/src/tgui/.tmp/**/*
/../browserassets/src/tgui/**/*
!/../browserassets/src/tgui/*.html
/coverage
# |GOONSTATION-CHANGE| We keep our built assets in browserassets
!/../browserassets/src/tgui/*.js
!/../browserassets/src/tgui/*.css

# Editor Files |GOONSTATION-ADD| I guess someone uses non-standard tooling :)
*.idea/*
