/**
 * @file
 * @copyright 2021
 * @author BenLubar (https://github.com/BenLubar)
 * @license ISC
 */

@use 'sass:math';

.GeneIcon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('../assets/genetics_powers.png');
  background-size: 1000% 1000%;
  background-position: 0% 0%;
}

$gene-icons: (
  template: 1 0,
  unknown: 1 1,
  cryokinesis: 2 1,
  mattereater: 3 1,
  jumpy: 4 1,
  polymorphism: 5 1,
  telepathy: 6 1,
  empath: 7 1,
  immolate: 8 1,
  melt: 9 1,
  superfart: 0 2,
  eyebeams: 1 2,
  adrenaline: 2 2,
  midas: 3 2,
  photokinesis: 4 2,
  erebokinesis: 5 2,
  firebreath: 6 2,
  dimensionshift: 7 2,
  healingtouch: 8 2,
  hallucination: 9 2,
  brownnote: 0 3,
  tk: 1 3,
  darkcloak: 2 3,
  chameleon: 3 3,
  bigpuke: 4 3,
  ink: 5 3,
  none: 6 3,
  speech: 7 3,
  lizard: 8 3,
  squid: 9 3,
  roach: 0 4,
  frog: 1 4,
  flashy: 2 4,
  dwarf: 3 4,
  cat: 4 4,
  blank: 5 4,
  skeleton: 6 4,
  monkey: 7 4,
  cow: 8 4,
  fire_res: 9 4,
  cold_res: 0 5,
  thermal_res: 1 5,
  elec_res: 2 5,
  tox_res: 3 5,
  alc_res: 4 5,
  rad_res: 5 5,
  breathless: 6 5,
  regen: 7 5,
  haze: 8 5,
  dead: 9 5,
  strong: 0 6,
  hulk: 1 6,
  radiobrain: 2 6,
  eye: 3 6,
  fart: 4 6,
  bad: 6 6,
  shoot_limb: 7 6,
  apparition-0: 8 6,
  apparition-1: 9 6,
  hemochromia_rust: 3 8,
  hemochromia_bronze: 4 8,
  hemochromia_gold: 5 8,
  hemochromia_lime: 6 8,
  hemochromia_olive: 7 8,
  hemochromia_jade: 8 8,
  hemochromia_teal: 9 8,
  hemochromia_cobalt: 0 9,
  hemochromia_indigo: 1 9,
  hemochromia_purple: 2 9,
  hemochromia_violet: 3 9,
  hemochromia_fuchsia: 4 9,
  hemochromia_unknown: 5 9,
  achromia: 6 9,
  noir: 7 9,
);

@each $name, $pos in $gene-icons {
  .GeneIcon--#{$name} {
    background-position: (math.div(nth($pos, 1) * 100%, 9)) (math.div(nth($pos, 2) * 100%, 9));
  }
}
