name: merge_upstream
on:
  issue_comment:
    types: [created]

jobs:
  merge-upstream:
    if: ${{ github.event.issue.pull_request && contains(github.event.comment.body, '!merge_upstream') }}
    runs-on: ubuntu-latest
    steps:
      - name: PR Data
        run: |
          curl -H "Authorization: token ${{ github.token }}" ${{ github.event.issue.pull_request.url }} > pr.json
          echo "PR_REPO=`jq -r '.head.repo.full_name' < pr.json`" >> $GITHUB_ENV
          echo "PR_BRANCH=`jq -r '.head.ref' < pr.json`" >> $GITHUB_ENV

      - uses: actions/checkout@v4
        with:
          repository: ${{ env.PR_REPO }}
          ref: ${{ env.PR_BRANCH }}
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: yarn
          cache-dependency-path: tgui/yarn.lock

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgit2-dev libjpeg-dev zlib1g-dev

      - name: Perform Merge
        env:
          HOOKS_INCLUDE_TGUI: "1"
          HOOKS_INCLUDE_BASE: "1"
        run: |
          set -euo pipefail
          bash tools/hooks/install.sh
          bash tools/ci/install_build_tools.sh
          git config user.name github-actions
          git config user.email github-actions@github.com
          git remote add upstream "https://github.com/${{ github.repository }}.git"
          git fetch upstream master
          git merge upstream/master
          git push origin HEAD

      - name: Notify Failure
        if: failure()
        run: |
          curl -s -H "Authorization: token ${{ github.token }}" \
            -X POST -d '{"body": "Merging upstream failed:\nhttps://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"}' \
            "https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/comments"
